#form-join{
    width: 30%;
    margin-left: 35%;
    padding-top: 140px;
}

.form-control{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}
h1{
    font-weight: 800;
}

@media(max-width:1024px){
    #form-join{
        padding-top: 180px;
        width: 80%;
        margin-left: 10%;
    }
}

#join{
    height: 100vh;
    background: rgb(199, 199, 199);
}